@font-face {
  font-family: "Helvetica";
  src: url("./fonts/HelveticaNeueLTStd-Roman.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaBold";
  src: url("./fonts/HelveticaNeueLTStd-Bd.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaBlack";
  src: url("./fonts/HelveticaNeueLTStd-Blk.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaLight";
  src: url("./fonts/HelveticaLTStd-Light.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  font-family: "Helvetica", sans-serif;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100vh;
  overflow: scroll;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

.App .page {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  scroll-snap-align: start;
  margin: 0;
}

.App .main-text, .App .bottom-text {
  font-family: "HelveticaBlack", sans-serif;
  font-size: 48px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 30px;
  line-height: auto;
}

.App .bottom-text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 65px;
}

@media (max-width: 700px) {
  .App .bottom-text {
    font-size: 28px;
  }
}

.App .arrows {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 16px;
}

.App .arrows .arrow {
  font-size: 40px;
  margin: 0 80px;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 650px) {
  .App .arrows .arrow {
    margin: 0 40px;
  }
}

@-webkit-keyframes arrow-bounce {
  from {
    bottom: 16px;
    opacity: 0.4;
  }
  to {
    bottom: 10px;
    opacity: 0.3;
  }
}

@keyframes arrow-bounce {
  from {
    bottom: 16px;
    opacity: 0.4;
  }
  to {
    bottom: 10px;
    opacity: 0.3;
  }
}

@-webkit-keyframes arrow-bounce-solid {
  from {
    bottom: 16px;
  }
  to {
    bottom: 10px;
  }
}

@keyframes arrow-bounce-solid {
  from {
    bottom: 16px;
  }
  to {
    bottom: 10px;
  }
}

.App #page-1 {
  background: red;
  background: url(images/forest-3.jpg) no-repeat center center fixed;
  background-size: cover;
}

@-webkit-keyframes intro-fade-in {
  from {
    color: white;
  }
  to {
    color: black;
  }
}

@keyframes intro-fade-in {
  from {
    color: white;
  }
  to {
    color: black;
  }
}

@-webkit-keyframes background-slide {
  from {
    top: -110vh;
  }
  to {
    top: 0px;
  }
}

@keyframes background-slide {
  from {
    top: -110vh;
  }
  to {
    top: 0px;
  }
}

.App #page-1 #page-1-main-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  margin: 0;
  padding: 10vh 0 0 5vw;
  width: 100%;
  height: 100%;
  font-size: 160px;
  line-height: 150px;
  letter-spacing: -11px;
  background: white;
  mix-blend-mode: screen;
  top: -110vh;
  -webkit-animation: background-slide 1s ease-out;
          animation: background-slide 1s ease-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App #page-1 #page-1-main-text #page-1-block-1 {
  color: white;
  -webkit-animation: intro-fade-in 2s;
          animation: intro-fade-in 2s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App #page-1 #page-1-main-text #page-1-block-2 {
  color: white;
  -webkit-animation: intro-fade-in 2s;
          animation: intro-fade-in 2s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.App #page-1 #page-1-main-text #page-1-block-3 {
  color: white;
  -webkit-animation: intro-fade-in 2s;
          animation: intro-fade-in 2s;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media only screen and (max-height: 970px) {
  .App #page-1 #page-1-main-text {
    font-size: 120px;
    line-height: 110px;
    letter-spacing: -3px;
  }
}

@media only screen and (max-width: 900px) {
  .App #page-1 #page-1-main-text {
    font-size: 120px;
    line-height: 110px;
    letter-spacing: -9px;
  }
}

@media only screen and (max-height: 750px) {
  .App #page-1 #page-1-main-text {
    font-size: 90px;
    line-height: 80px;
    letter-spacing: -7px;
  }
}

@media only screen and (max-width: 700px) {
  .App #page-1 #page-1-main-text {
    font-size: 90px;
    line-height: 80px;
    letter-spacing: -7px;
  }
}

@media only screen and (max-width: 500px) {
  .App #page-1 #page-1-main-text {
    font-size: 60px;
    line-height: 50px;
    letter-spacing: -5px;
  }
}

.App #page-1 #page-1-block-4 {
  opacity: 0;
  color: black;
  -webkit-animation: block-4-fade 1s ease-out forwards;
          animation: block-4-fade 1s ease-out forwards;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

@-webkit-keyframes block-4-fade {
  0% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes block-4-fade {
  0% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App #page-1 .arrows {
  opacity: 0;
  -webkit-animation-name: arrow-fade-in, arrow-bounce;
          animation-name: arrow-fade-in, arrow-bounce;
  -webkit-animation-duration: 1000ms, 1000ms, 1000ms;
          animation-duration: 1000ms, 1000ms, 1000ms;
  -webkit-animation-delay: 7.3s, 8.3s;
          animation-delay: 7.3s, 8.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
          animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards, forwards;
          animation-fill-mode: forwards, forwards;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}

@-webkit-keyframes arrow-fade-in {
  from {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    bottom: 16px;
    opacity: 0.4;
  }
}

@keyframes arrow-fade-in {
  from {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    bottom: 16px;
    opacity: 0.4;
  }
}

.App #page-2 {
  color: white;
  background: #75e3ff;
  background: url(images/sea-2.jpg) no-repeat center center fixed;
  background-size: cover;
}

.App #page-2 #page-2-text-wrap {
  margin-top: 15vh;
  width: 100%;
  background: black;
  padding: 40px 0;
  opacity: 0;
}

.App #page-2 #page-2-text-wrap p {
  color: white;
  font-size: 90px;
  line-height: 80px;
  letter-spacing: -4px;
}

@media only screen and (max-width: 1200px) {
  .App #page-2 #page-2-text-wrap p {
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -3px;
  }
}

@media only screen and (max-height: 750px) {
  .App #page-2 #page-2-text-wrap p {
    font-size: 50px;
    line-height: 40px;
    letter-spacing: -3px;
  }
}

@media only screen and (max-width: 700px) {
  .App #page-2 #page-2-text-wrap p {
    font-size: 40px;
    line-height: 33px;
    letter-spacing: -2px;
  }
}

.App #page-2 #page-2-text-wrap .main-text, .App #page-2 #page-2-text-wrap .bottom-text {
  position: relative;
  -webkit-transform: translateX(-15vw);
          transform: translateX(-15vw);
  opacity: 0;
}

.App #page-2 .page-2-bottom {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
}

@media only screen and (max-width: 1200px) {
  .App #page-2 .page-2-bottom {
    font-size: 28px;
  }
}

.App #page-2 .arrows {
  -webkit-animation-name: arrow-bounce-solid;
          animation-name: arrow-bounce-solid;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.App #page-2 .arrow {
  color: white;
  font-size: 50px;
}

.App #page-3 {
  background: #727272;
  height: auto;
  min-height: 100vh;
  color: white;
  background: url(images/mountain-3.jpg) no-repeat center center fixed;
  background-size: cover;
  border-top: 4px solid white;
}

.App #page-3-title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "HelveticaBlack", sans-serif;
  font-size: 90px;
  margin: 5vh 0 20px;
  opacity: 0;
}

.App #project-wrap {
  display: block;
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto 60px;
  text-align: center;
}

@media (max-width: 400px) {
  .App #project-wrap {
    width: 100vw;
  }
}

.App #project-wrap .project {
  display: inline-block;
  margin: 20px 40px;
  width: 300px;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  opacity: 0;
}

.App #project-wrap .project .project-img-link {
  display: block;
  width: 300px;
  height: 200px;
  background: #20e662;
  border-radius: 20px;
}

.App #project-wrap .project .project-title {
  font-family: "HelveticaBlack";
  font-size: 24px;
  margin: 10px;
}

.App #project-wrap .project img {
  border-radius: 20px;
  border: 2px solid white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.App #project-wrap .project img:hover {
  border: 2px solid #20e662;
}

.App #project-wrap .project img:active {
  border: 2px solid #fcff58;
}

.App #project-wrap .project .project-description {
  font-size: 16px;
  height: 60px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.App #project-wrap .project .project-link,
.App #project-wrap .project .project-github {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
  margin: 0 14px;
  font-family: "HelveticaBold";
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 0;
  width: 100px;
  border-radius: 10px;
  border: 1px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.App #project-wrap .project .project-link:hover,
.App #project-wrap .project .project-github:hover {
  background: #20e662;
  color: black;
}

.App #project-wrap .project .project-link:active,
.App #project-wrap .project .project-github:active {
  background: #fcff58;
}

.App .page-3-bottom {
  -webkit-animation-name: arrow-bounce-solid;
          animation-name: arrow-bounce-solid;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  opacity: 0;
}

.App .page-3-bottom .arrow {
  color: white;
}

.App #page-4 {
  background: #789c81;
  height: auto;
  min-height: 100vh;
  color: white;
  background: url(images/city-3.jpg) no-repeat center center fixed;
  background-size: cover;
  border-top: 4px solid white;
}

.App #page-4 .page-4-text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  width: 80vw;
  max-width: 1400px;
  letter-spacing: -3px;
  line-height: 60px;
  opacity: 0;
}

@media (max-width: 900px) {
  .App #page-4 .page-4-text {
    font-size: 48px;
  }
}

.App #page-4 #page-4-block-1 {
  margin-top: 10vh;
}

.App #page-4 #page-4-block-1 a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: #fff0ae;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.App #page-4 #page-4-block-1 a:hover {
  color: black;
}

.App #page-4 #page-4-block-2 {
  margin-top: 60px;
}

.App #page-4 #page-4-block-3 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}

.App #page-4 #contact-wrap {
  display: block;
  width: 80vw;
  margin: 0 auto 100px;
  text-align: center;
  font-size: 120px;
}

@media (max-width: 400px) {
  .App #page-4 #contact-wrap {
    width: 100vw;
  }
}

.App #page-4 .contact-circle {
  display: inline-block;
  margin: 40px;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background: #ffe15b;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  opacity: 0;
}

@media (max-width: 900px) {
  .App #page-4 .contact-circle {
    width: 156.25px;
    height: 156.25px;
    font-size: 75px;
  }
}

.App #page-4 .contact-icon {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: white;
  margin-top: 65px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 900px) {
  .App #page-4 .contact-icon {
    margin-top: 40.625px;
  }
}

.App #page-4 .contact-circle:hover .contact-icon {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.App #page-4 .contact-circle:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffe15b), color-stop(33%, #ffe15b), color-stop(33%, #5fff94), color-stop(67%, #5fff94), color-stop(67%, #41d3ff), to(#41d3ff));
  background-image: linear-gradient(to right, #ffe15b 0%, #ffe15b 33%, #5fff94 33%, #5fff94 67%, #41d3ff 67%, #41d3ff 100%);
  -webkit-animation: circle-animate 1.7s linear infinite;
          animation: circle-animate 1.7s linear infinite;
  -webkit-transition: 1s;
  transition: 1s;
}

@-webkit-keyframes circle-animate {
  to {
    background-position: 26vw;
  }
}

@keyframes circle-animate {
  to {
    background-position: 26vw;
  }
}

.App #page-4 footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 30px;
}

.App #page-4 footer a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: #fff0ae;
}
/*# sourceMappingURL=App.css.map */