@font-face {
  font-family: "Helvetica";
  src: url("./fonts/HelveticaNeueLTStd-Roman.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaBold";
  src: url("./fonts/HelveticaNeueLTStd-Bd.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaBlack";
  src: url("./fonts/HelveticaNeueLTStd-Blk.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaLight";
  src: url("./fonts/HelveticaLTStd-Light.otf") format("opentype");
}

@mixin for-phone {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin for-desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop {
  @media (max-width: 1800px) {
    @content;
  }
}

@mixin center-text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@mixin link {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

// ----------------------------------  +- Page 1 + 2 -+

.App {
  font-family: "Helvetica", sans-serif;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;

  .page {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100vh;
    min-height: 600px;
  }

  .main-text {
    font-family: "HelveticaBlack", sans-serif;
    font-size: 48px;
    margin-left: 15vw;
    margin-right: 10vw;
    margin-bottom: 30px;
    line-height: auto;

    @include for-tablet-landscape {
      font-size: 38px;
    }
    @include for-phone {
      margin-left: 8vw;
      font-size: 30px;
    }
  }

  .bottom-text {
    @extend .main-text;
    @include center-text;
    position: absolute;
    bottom: 100px;
  }

  .arrows {
    @include center-text;
    position: absolute;
    bottom: 30px;
    .arrow {
      font-size: 40px;
      margin: 0 80px;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  #page-1 {
    background: rgb(231, 231, 231);

    #page-1-block-1 {
      margin-top: 20vh;
    }
  }

  #page-2 {
    background: rgb(189, 241, 233);

    #page-2-block-1 {
      margin-top: 20vh;
    }
  }

  // ------------------------------------ Page 3 -- Projects --

  #page-3 {
    background: firebrick;
    height: auto;
    min-height: 100vh;
  }

  #page-3-title {
    @include center-text;
    font-family: "HelveticaBlack", sans-serif;
    font-size: 60px;
    margin: 10vh 0 40px;
  }

  #project-wrap {
    display: block;
    width: 80vw;
    margin: 0 auto 100px;
    text-align: center;
    @include for-phone {
      width: 100vw;
    }

    .project {
      display: inline-block;
      margin: 30px;
      width: 300px;

      .project-img-link {
        display: block;
        width: 300px;
        height: 200px;
        background: black;
      }

      .project-title {
        font-family: "HelveticaBlack";
        font-size: 24px;
        margin: 10px;
      }

      .project-description {
        margin-bottom: 10px;
      }

      .project-link,
      .project-github {
        @include link;
        margin: 0 10px;
        font-family: "HelveticaBold";
        font-size: 18px;
      }
    }
  }

  // ----------------------------------  +- Page 4 -+
  #page-4 {
    $diameter: 250px;
    $icon-height: 120px;

    #page-4-block-1 {
      margin-top: 10vh;
      a {
        @include link;
        color: orangered;
      }
    }

    #page-4-block-2 {
      margin-top: 100px;
    }

    #page-4-block-3 {
      @include center-text;
      margin-top: 100px;
    }

    #contact-wrap {
      display: block;
      width: 80vw;
      margin: 0 auto 100px;
      text-align: center;
      font-size: $icon-height;
      @include for-phone {
        width: 100vw;
      }
    }

    .contact-circle {
      display: inline-block;
      margin: 40px;
      width: $diameter;
      height: $diameter;
      border-radius: $diameter / 2;
      background: orange;

      @include for-tablet-landscape {
        width: $diameter / 1.6;
        height: $diameter / 1.6;
        font-size: $icon-height / 1.6;
      }
    }
    .contact-icon {
      @include link;
      color: white;
      margin-top: $diameter / 2 - $icon-height / 2;

      @include for-tablet-landscape {
        margin-top: $diameter / 3.2 - $icon-height / 3.2;
      }
    }

    footer {
      @include center-text;
      position: absolute;
      bottom: 18px;

      a {
        @include link;
        color: orangered;
      }
    }
  }
}
